<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Medicine Records</title>
         {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'pharmacy/css/bootstrap.css' %}"/>
        <style>
            h2{

                text-align: left;
                color:black;
            }
        </style>
    </head>
    <body>
    <h1>Welcome to Sameer Pharmacy</h1>
    <h2>Medicine Reports</h2>

    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
        <tr id="c1">
            <th>Date</th>
            <th>Medicine ID</th>
            <th>IMAGE</th>
            <th>Medicine Name</th>
            <th>STOCK</th>
            <th>Medicine Price(Rs)</th>
            <th>Total Price</th>
            <th>Actions</th>



        </tr>
        </thead>
        <tbody>
    {% for medicine in medicines %}
        <tr id="c2">

            <td>{{ medicine.tdate }}</td>
            <td>{{ medicine.tid }}</td>
            <td><img src="static/pharmacy/css/mirtaz.jpg" height="42" width="42"></td>
            <td>{{ medicine.tname }}</td>
            <td>{{ medicine.tquantity }}</td>
            <td>{{ medicine.tprice }}</td>
            <td>{{ medicine.ttprice }}</td>



              <td>
                <a href="/medit/{{ medicine.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                <a href="/mdelete/{{ medicine.id }}">Delete</a>
            </td>


        </tr>
    {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <center><a href="/madd" class="btn btn-primary">Add New Record</a></center>
    <center>   <a href="/index" class="btn btn-primary">HOME PAGE</a></center>
    </body>
    </html>