<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
          {% load staticfiles %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="{% static '/pharmacy/css/bootstrap.css' %}"/>
        <link rel="stylesheet" href="{% static '/pharmacy/js/bootstrap.js' %}"/>

        <link rel="stylesheet" href="{% static '/pharmacy/js/jquery-3.3.1.js' %}"/>

        <link rel="stylesheet" href="{% static '/pharmacy/js/proper.js' %}"/>
        <link rel="stylesheet" href="{% static 'static/pharmacy/style.css' %}"/>
    </head>
    <body>
    <form method="POST" class="post-form" action="/padd">
            {% csrf_token %}
        <div class="container">
    <br>
        <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <h3>Enter Details</h3>
        </div>
      </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Pharmacy Id:</label>
        <div class="col-sm-4">
          {{ form.pid }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Pharmacy Name:</label>
        <div class="col-sm-4">
          {{ form.pname }}
        </div>
      </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Pharmacy Email:</label>
        <div class="col-sm-4">
          {{ form.pemail }}
        </div>
      </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Pharmacy Address:</label>
        <div class="col-sm-4">
          {{ form.paddress }}
        </div>
      </div>
        <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
        </div>
    </form>
    </body>
    </html>